h1 {
  margin: 20px auto;
  text-align: center;
  font-size: 2rem;
  padding: 12px 0;
}

mat-spinner {
  margin: auto;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .cards {
    padding: 8px;
    margin-left: 24px;
  }

  .date {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .chart-card {
    width: 100%;
    flex-grow: 1;
    margin: 0 24px;

    .card-header {
      display: flex;
      justify-content: space-between;
    }
    .chart {
      height: 418px;
      max-width: 1500px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;

    .cards {
      width: 100%;
      margin: auto;

      .cards__stats {
        display: flex;
        justify-content: space-between;
        align-items: center;

        app-stat-card {
          margin: 0 8px;
          flex-basis: 0;
          flex-grow: 1;
          min-width: 224px;
        }
      }
    }
    .chart-card {
      padding: 20px 0;
      margin: 0;
    }
  }
}

@media (max-width: 750px) {
  .cards__stats {
    flex-direction: column;
  }
}
