h1 {
  margin: auto;
  text-align: center;
  font-size: 2rem;
  padding: 12px 0;
}

.cards {
  padding: 8px;
  width: fit-content;
  margin-left: 8px;
}

.date {
  font-size: 1.2rem;
  font-weight: normal;
}
