<mat-toolbar color="primary">
  <img src="../assets/icons/virus-solid.svg" alt="" class="header-icon" />
  <h2>Corona Worldwide</h2>

  <span class="spacer"></span>

  <button
    class="nav-button"
    mat-button
    routerLink="/general"
    routerLinkActive="active"
  >
    General
  </button>
  <button
    class="nav-button"
    mat-button
    routerLink="/countries"
    routerLinkActive="active"
  >
    Countries
  </button>
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/general">General</button>
    <button mat-menu-item routerLink="/countries">Countries</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
