mat-toolbar {
  display: flex;
  align-items: center;

  .header-icon {
    width: 30px;
    margin-right: 8px;
  }

  .spacer {
    flex-grow: 1;
  }

  .active {
    background: rgba($color: #000000, $alpha: 0.1);
  }

  .menu {
    display: none;
  }
}

@media (max-width: 500px) {
  mat-toolbar {
    .nav-button {
      display: none;
    }
    .menu {
      display: block;
    }
  }
}
