mat-card {
  max-width: 240px;
}

mat-card-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  img {
    width: 2rem;
    margin-right: 8px;
  }
}

.card-stat {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
  }

  mat-card-subtitle {
    font-size: 1rem;
  }
}
