<mat-card [style.backgroundColor]="colors.primary">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <div class="card-stat" *ngFor="let stat of data.stats">
      <mat-card-subtitle [style.color]="colors.accent">
        {{ stat.name }}:
      </mat-card-subtitle>
      <p>{{ stat.value | number: "1.0-0" }}</p>
    </div>
    <mat-card-title [style.color]="colors.accent">
      <img [src]="iconUrl" [alt]="data.title" /> {{ data.title }}
    </mat-card-title>
  </div>
</mat-card>
