<div class="search-bar">
  <input
    matInput
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search for a country"
  />
  <mat-icon>search</mat-icon>
</div>
<mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
<div class="container" *ngIf="!(isLoading$ | async)">
  <mat-card
    class="country-card"
    *ngFor="let country of countries | filter: searchText"
    (click)="onCountryClicked(country)"
  >
    <mat-card-title class="country-name"> {{ country.countryName }} </mat-card-title>
  </mat-card>
  </div>
