mat-spinner {
  margin: auto;
}
.container {
  padding-top: 20px;
  display: flex;
  // justify-content: center;
  align-items: center;

  .card-of-cards {
    width: fit-content;
    margin: 0 24px;

    mat-form-field {
      margin-left: 8px;
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .chart-card {
    flex-grow: 1;
    width: 100%;
    margin: 0 24px;
    .chart {
      height: 340px;
      max-width: 1500px;
    }
  }
}
