<div class="container" *ngIf="!isError">
  <mat-card class="card-of-cards">
    <div class="country-info">
      <mat-form-field>
        <input
          class="input"
          type="text"
          placeholder="Pick a country"
          aria-label="Country"
          matInput
          [formControl]="countryControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            (click)="onChangeCountry(country)"
            *ngFor="let country of filteredOptions | async"
            [value]="country.countryName"
          >
            {{ country.countryName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <p>Population: {{ countryData.population }}</p>
      <p>Data updated at: {{ countryData.updated_at | date }}</p>
    </div>
    <div class="stat-cards">
      <app-stat-card
        *ngFor="let card of statCards"
        [data]="card.data"
        [colors]="card.colors"
        [iconUrl]="card.iconUrl"
        [loading]="isLoading"
      ></app-stat-card>
    </div>
  </mat-card>
  <mat-card class="chart-card">
    <div class="chart-card-header">
      <mat-card-title>Total cases</mat-card-title>
      <mat-form-field>
        <mat-label>Select Date</mat-label>
        <mat-select>
          <mat-option (click)="onDatePicked('all')" [value]="'All time'"
            >All time</mat-option
          >
          <mat-option
            (click)="onDatePicked('months')"
            [value]="'Last 3 months'"
          >
            Last 3 months
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="line-chart chart"
      echarts
      [options]="lineChartOption"
      [loading]="isLoading"
      [merge]="customLineChartOption"
      [theme]="chartTheme"
    ></div>
    <!-- dirty fix -->
    <mat-card-title style="margin-top: 8px">Cases daily</mat-card-title>
    <div
      class="bar-chart chart"
      echarts
      [options]="barChartOption"
      [loading]="isLoading"
      [merge]="customBarChartOption"
      [theme]="chartTheme"
    ></div>
  </mat-card>
</div>
